.parent {
	display: flex;
	flex-flow: row-wrap;
	justify-content: center;
}

/*child1*/
.child {
	width: 25%;
	border: 1px solid #ddd;
	padding: 1%;
	margin: 1%;
	box-shadow: 0px 8px 8px -8px #000;
	text-align: center;
}

/*child2*/
.child2 {
width: 70%;
padding: 1%;
border: 1px solid #ddd;
box-shadow: 0px 8px 8px -8px #000;
margin: 1%;
}

.email {
	text-decoration: none;
	font-size: 20px;
	display: block;
}

.mobile {
	text-decoration: none;
	font-size: 20px;
	display: block;
}

.btn {
background: #588ae1;
color: #fff;
display: block;
text-decoration: none;
font-size: 20px;
}

